body {
  background: #ec4c4c; }

.header {
  background: #eeeef0;
  display: flex;
  justify-content: center; }

h1 {
  text-align: center; }

.from {
  padding-right: 40px; }

.input-container {
  display: flex;
  flex-direction: row; }

.container {
  width: 50%;
  background: white;
  margin: 20px; }

.main {
  background: #eeeef0;
  padding: 40px;
  width: 600px; }

a {
  text-decoration-style: dotted; }

p {
  font-size: 11px; }

button {
  background: #ec4c4c;
  padding: 10px;
  margin-top: 20px;
  border-style: none;
  width: 164px; }

button:hover {
  background-color: #df7a7a; }

hr {
  width: 164px;
  margin-left: 0;
  color: white; }
